@model List<UserViewModel>

@{
	ViewData["Title"] = "All users";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<table class="table">
					<tr>
						<th>Nickname</th>
						<th>Email</th>
						<th>Date of registration</th>
						<th>Info about comments</th>
						<th>Role</th>
						<th>Actions</th>
					</tr>
					@foreach (var user in Model)
					{
						<tr>
							<td>
								<h4 class="card-title">@user.Nickname</h4>
							</td>
							<td>
								<h4 class="card-title">@user.Email</h4>
							</td>
							<td>
								<h4 class="card-title">@user.RegistrationDate.ToString("dd.MM.yyyy, HH:mm")</h4>
							</td>
							<td>
								@foreach (var comment in user.Comments)
								{
									<h4 class="card-title">
										@comment.CreationDate.ToString("dd.mm.yyyy, HH:mm")<br> Text: @comment.Text<br> 
										<a asp-controller="Article" asp-action="ReadArticle" asp-route-id="@comment.ArticleId">Go to article</a>
									</h4>
								}
							</td>
							<td>
								<h2 class="card-title">
									@foreach (var roles in user.UserRoles)
									{
										<h4 class="card-title">
										@roles.Role.Name<br>
										</h4>
									}
								</h2>
							</td>
							<td>
								<a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="post-meta btn btn-danger">Delete</a>
								<a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="post-meta btn btn-info">Edit</a>
							</td>
						</tr>
					}
				</table>
				<a asp-controller="Admin" asp-action="Index"><button class="post-meta btn btn-info">Back to Admin panel</button></a>
				<a asp-controller="User" asp-action="Create"><button class="post-meta btn btn-success">Create new user</button></a>

			</div>
		</div>
	</div>
</div>

@section Scripts
{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}