@model CreateOrEditArticleViewModel

@{
	ViewData["Title"] = "Create article";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<ul id="gtco-post-list">
					<li class="entry animate-box" data-animate-effect="fadeIn">
						<div class="entry-desc">
							<h1>Creation of a new article</h1>
							<form asp-controller="Article" asp-action="CreateArticle" method="post">

								<div class="validation-summary-errors" asp-validation-summary="ModelOnly"></div> 

								<input asp-for="Id" type="hidden" value="@Guid.NewGuid()" />
								<input asp-for="CreationDate" type="hidden" value="@DateTime.Now" />
	
								<label asp-for="Title">Title</label>
								<input asp-for="Title" type="text" />
								<span asp-validation-for="Title"></span>
								<p></p>

								<label asp-for="Description">Description</label>
								<input asp-for="Description" type="text" />
								<span asp-validation-for="Description"></span>
								<p></p>

								<label asp-for="Body">Body</label>
								<input asp-for="Body" type="text" />
								<span asp-validation-for="Body"></span>
								<p></p>

								<label asp-for="Image">Path for Image</label>
								<input asp-for="Image" type="text" />
								<span asp-validation-for="Image"></span>
								<p></p>

								<label asp-for="SourceUrl">Url of article</label>
								<input asp-for="SourceUrl" type="text" />
								<span asp-validation-for="SourceUrl"></span>
								<p></p>

								<label asp-for="Category.Id">Name of category:</label>
								<select asp-for="@Model.Category.Id" asp-items="@Model.Categories"></select>
								<p></p>

								<label asp-for="Source.Id">Name of article source:</label>
								<select asp-for="@Model.Source.Id" asp-items="@Model.Sources"></select>
								<p></p>

								<br /><br />
								<a asp-controller="Admin" asp-action="GetArticlesOnAdminPanel" class="btn btn-info">Cancel</a>
								<button type="submit" class="btn btn-success">Create</button>
							</form>
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}