@model CreateOrEditArticleViewModel

@{
	ViewData["Title"] = "Edit article";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<ul id="gtco-post-list">
					<li class="entry animate-box" data-animate-effect="fadeIn">
						<div class="entry-desc">
							<h1>Editing of article</h1>
							<form asp-controller="Article" asp-action="EditArticle" method="post">
								<input asp-for="Id" type="hidden" value="@Model.Id" />
								<input asp-for="CreationDate" type="hidden" value="@Model.CreationDate" />
	
								<label asp-for="Title">Title</label>
								<textarea asp-for="Title" type="text">@Model.Title</textarea>
								<p></p>
								<label asp-for="Description">Description</label>
								<textarea asp-for="Description" type="text">@Model.Description</textarea>
								<p></p>

								<label asp-for="Body">Body</label>
								<textarea asp-for="Body" type="text">@Model.Body</textarea>
								<p></p>

								<label asp-for="Image">Path for Image</label>
								<textarea asp-for="Image" type="text">@Model.Image</textarea>
								<p></p>

								<label asp-for="SourceUrl">Url of article</label>
								<textarea asp-for="SourceUrl" type="text">@Model.SourceUrl</textarea>
								<p></p>

								<label asp-for="Category.Id">Previous name of category: @Model.Category.Name</label>
								@Html.DropDownListFor(model => model.Category.Id, Model?.Categories, "Select category")
								<p></p>

								<label asp-for="Source.Id">Previous name of article source: @Model.Source.Name</label>
								@Html.DropDownListFor(model => model.Source.Id, Model?.Sources, "Select article source")

								<br /><br />
								<a asp-controller="Admin" asp-action="GetArticlesOnAdminPanel" class="btn btn-info">Cancel</a>
								<button type="submit" class="btn btn-success">Save changes</button>
							</form>
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</div>