@model ReadArticleViewModel
@{
	ViewData["Title"] = @Model.Title;
}
<div id="gtco-maine">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<article class="mt-negative">
					<div class="text-left content-article">

						<p>Source: @Model.SourceName.Name,  Date: @Model.CreationDate</p>
						<p>Link: <a href="@Model.SourceUrl">@Model.SourceUrl</a></p>
						
						<div class="row row-pb-sm">
							<div class="col-md-12 animate-box">
									<h2>@Html.Raw(Model.Title)</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 cp-r animate-box">
								<p class="article">@Html.Raw(Model.Body)</p>
							</div>
								
							<div class="col-lg-3 animate-box">
								<div class="gtco-highlight right">
									<h4>Highlight</h4>
									<p>@Html.Raw(Model.Description)</p>
								</div>
							</div>
						</div>


						<div class="row row-pb-sm">
							<div class="col-md-12 animate-box">
								<blockquote>
									<br/>
									<h2>Comments: @Model.Comments.Count()</h2>
								</blockquote>
							</div>
						</div>

						<div class="row row-pb-sm">
							<div class="col-lg-6 cp-r animate-box">
								<div class="row row-pb-sm">
									<div class="col-lg-12 cp-r animate-box">
										@{
											await Html.RenderPartialAsync("_CommentPartial", new CommentViewModel { ArticleId = Model.Id});
										}
									</div>
								</div>

								@foreach(var comment in Model.Comments)
								{
									<h3><a asp-controller="User" asp-action="Details" asp-route-id="@comment.User.Id">@comment.User.Nickname</a>
										<span class="comment-date">@comment.CreationDate</span>
									</h3>
									<div class="descriptiomo-nalonvevons">
										
										@comment.Text
									</div>
								}
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>