@model ArticlesByPagesViewModel

@{
    ViewData["Title"] = "LifeStyle.";
}
<div id="gtco-main">
	<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-post-list">
						@foreach(var article in Model.NewsList)
						{
							<li class="one-third entry animate-box" data-animate-effect="fadeIn">
									<a asp-controller="Article" asp-action="ReadArticle" asp-route-id="@article.Id">
										<div class="entry-img" style="@article.Image"></div>
										<div class="entry-desc">
											<h3>@Html.Raw(article.Title)</h3>
											<p>@Html.Raw(article.Description)</p>
										</div>
									</a>
								<a asp-controller="Article" asp-action="ReadArticle" asp-route-id="@article.Id" class="post-meta"><span class="date-posted">@article.CreationDate</span></a>
							</li>
						}
					</ul>	
				</div>
			</div>
			@await Html.PartialAsync("PaginationPartial", Model.Pager)
	</div>
</div>
				