@model List<TopNewsOnHomeScreenViewModel>

@{
    ViewData["Title"] = "LifeStyle.";
}
<div id="gtco-main">
	<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-post-list">
						@foreach(var article in Model)
						{
							<li class="one-third entry animate-box" data-animate-effect="fadeIn">
									<a asp-controller="Article" asp-action="Read" asp-route-id="@article.Id">
										<div class="entry-img" style="background-image: url(../images/img_4.jpg)"></div>
										<div class="entry-desc">
											<h3>@article.Title</h3>
											<p>@article.Description</p>
										</div>
									</a>
								<a asp-controller="Article" asp-action="Read" asp-route-id="@article.Id" class="post-meta"><span class="date-posted">@article.CreationDate</span></a>
							</li>
						}
					</ul>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<nav aria-label="Page navigation">
						<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
						</ul>
					</nav>
				</div>
			</div>
	</div>
</div>
				