@model List<SourceModel>

@{
	ViewData["Title"] = "All sources";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<table class="table">
					@foreach (var source in Model)
					{
						<tr>
							<td>
								<h2 class="card-title">@source.Name</h2>
							</td>
							<td>
								<h2 class="card-title">@source.BaseUrl</h2>
							</td>
							<td>
								<h2 class="card-title">@source.RssUrl</h2>
							</td>
							<td>
								<a asp-controller="Source" asp-action="Delete" asp-route-id="@source.Id" class="post-meta btn btn-danger">Delete</a>
								<a asp-controller="Source" asp-action="Edit" asp-route-id="@source.Id" class="post-meta btn btn-info">Edit</a>
							</td>
						</tr>
					}
				</table>
				<a asp-controller="Admin" asp-action="Index"><button class="post-meta btn btn-info">Back to Admin panel</button></a>
				<a asp-controller="Source" asp-action="Create"><button class="post-meta btn btn-success">Create new source</button></a>

			</div>
		</div>
	</div>
</div>